.container-fluid {
    background: #0F2438;

}

.navbar-brands {
    display: flex;
    position: relative;
    left: 350px;

}

.navbar-brand img {
    display: flex;
    position: relative;
    left: 90px;
}

.nav-item {
    display: flex;
    margin-left: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;

}
.logo h4, p {
    position: relative;
    margin-left: 70px;
    bottom: 80px;

}



.whatsapp {
    background-color: #E1EFD0;
    width: 230px;
    height: 40px;
}


.working_hours, .location {
    font-style: medium;
    font-size: 14px;
    width: 216px;
    height: 40px;

}


.search_buttons {

    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.btn-primary {
    width: 200px;
    height: 53px;
    color: #005BB9;
}

.btn-outline-secondary {
    width: 101px;
    height: 53px;

}

.input-group {
    width: 200px;
    height: 53px;

}

.inline-blocks {
    display: flex;
    margin-right: 50px;

}

.navbar img {
    width: 14px;
    height: 20px;
    margin-top: 10px;

}

.toast .city .call{
    width: 320px;
    height: 299px;
    background: #FFFFFF;
    border-radius: 10px;
}
.list-group-item{
    border: none;
    font-family:  'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #0F2438;

}
.toast-header{
    font-family:  'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #0F2438;
    border: none;
}
.city .form-control{
    background: #F4F5FA;
    width: 280px;
    height: 44px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border: none;
    color: #C2C5DA;
}
.call .form-control{
    width: 280px;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #AEB5D5;

}
.call .toast-body{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.btn-primary {
    width: 280px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
}
body > div > div.bucket.container-fluid > div {
    background-color: #FFFFFF;
    border: 1px solid #005BB9;
    border-radius: 10px;
    width: 555px;
    height: 90px;
    box-sizing: border-box;
}
body > div > div.bucket.container-fluid > div > div > img{
    width: 80px;
    height: 63px;
}
body > div > div.bucket.container-fluid > div > div{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}
body > div > div.bucket.container-fluid > div > div > div > span {
    width: 204px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}
.bucket .column{
    display: flex;
    flex-direction: column;
    width: 280px;
    row-gap: 7px;
}
body > div > div.bucket.container-fluid > div > div > button{
    position: relative;
    left: 135px;
    top: -15px;
}


.products-slide {
    padding: 0 30px;
    display: flex;
    align-items: center;
    width: 1008px;
    height: 390px;
    left: 283px;
    top: 262px;
    border-radius: 20px;
    /* mix-blend-mode: overlay;*/
    background:url("images/Product_slider.png");
}
.products-slide-arrow-left{
    margin-right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}



.products-slide-left.col-xl-5 > h1{
    width: 324px;
    height: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;


}
.products-slide-left.col-xl-5 > h2{
    width: 117px;
    height: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    position: relative;
    top: 30px;

}
.products-slide-left.col-xl-5 > p {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 332px;
    height: 43px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
    position: relative;
    top: 22px;
    right: 75px;
}

.products-slide-left.col-xl-5 > p > span{
    width: 117px;
    height: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.products-slide-right > img{
    width: 417px;
    height: 356px;
}
.products-slide-left > button{
    padding-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 8.32px;
    width: 160px;
    height: 49px;
    left: 428px;
    top: 515px;
    background: #005BB9;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.products-slide-arrow-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}
.products-slide-scroll .point {
    width: 16px;
    height: 16px;
    border: 1px solid #0A1A2C;
    border-radius: 50%;
    background-color: black;
}