.wrapper{
    display: flex;
    flex-direction: column;
}
.widgets{
    background-color: cornflowerblue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.widgets-wrapper{
    display: flex;
    justify-content: space-between;
}
.widgets-item{
    background-color: darkblue;
    height: 200px;
    margin: 10px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
}
.contact{
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
}